{% extends "layout.html" %}

{% block title %}
    All Airlines
{% endblock %}

{% block main %}

<h1>All airlines</h1>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>IATA</th>
            <th>ICAO</th>
            <th>Country</th>
        </tr>
        {% for item in airlines: %}
        <tr>
            <td>{{ item['Name'] }}</td>
            <td>{{ item['IATA'] }}</td>
            <td>{{ item['ICAO'] }}</td>
            <td>{{ item['Country'] }}</td>
        {% endfor %}
    </table>
</div>

{% endblock %}